# POSTTEST 4 Kecerdasan Buatan
### NIM : 2209106012
### NAMA : Aldi Solihin
### KELAS : A1 2022

### Import Paket Pandas dan Membaca Dataset
Agar bisa menggunakan paket pandas kita  perlu melakukan import paket terlebih dahulu, dan kita dapar mengimpor pandas sebagai pd agar lebih singkat. Kemudian dari sklearn.model_selection kita mengimport train_test_split untuk membagi dataset. Setelah itu  kita deklarasikan DataFrame (df) dengan pd.read_csv untuk membaca file csv agar lebih mudah dan efisien.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("ParisHousingClassNULL.csv")

### Bagi Training set dan Testing set dengan perbandingan 70 : 30
pada bagian ini saya membagi dataset menjadi training set dan testing set dengan proporsi 70 : 30 dengan menggunakan test_size = 0.3

In [3]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [4]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [5]:
print("Dimensi X_train :", X_train.shape)
print("Dimensi X_test  :", X_test.shape)
print("Dimensi Y_train :", Y_train.shape)
print("Dimensi Y_test  :", Y_test.shape)

Dimensi X_train : (7000, 17)
Dimensi X_test  : (3000, 17)
Dimensi Y_train : (7000,)
Dimensi Y_test  : (3000,)

- X_train : Untuk menampung data source yang akan dilatih.
- X_test : Untuk menampung data target yang akan dilatih.
- Y_train : Untuk menampung data source yang akan digunakan untuk testing.
- Y_test : Untuk menampung data target yang akan digunakan untuk testing.
- test_size : Mendefinisikan ukuran testing set (0.3 = 30% dari seluruh dataset) dan ukuran train set akan otomatis 0.7 atau 70% dari seluruh dataset

## Data Transformation
Pada transformasi data, kita mengubah skala data kedalam bentuk lain sehingga data memiliki distribusi yang diharapkan. 
### 1. Normalisasi
Pada bagian ini kita menggunakan teknik penskalaan standarisasi sehingga memiliki dimensi [0, 1]

Pertama-tama kita import MinMaxScaler terlebih dahulu dari sklearn.preprocessing. Kemudian kita akan mengecek tipe data dari tiap kolom. Lalu kita deklrasikan mm dengan value MinMaxScaler(). Selanjutnya, kita akan mengcopy dataset terlebih dahulu.

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
df.dtypes

squareMeters         float64
numberOfRooms          int64
hasYard                int64
hasPool                int64
floors                 int64
cityCode               int64
cityPartRange          int64
numPrevOwners          int64
made                   int64
isNewBuilt             int64
hasStormProtector      int64
basement               int64
attic                  int64
garage                 int64
hasStorageRoom         int64
hasGuestRoom           int64
price                float64
category              object
dtype: object

In [8]:
mm = MinMaxScaler()
df_copy = df.copy()
df_copy[['squareMeters','numberOfRooms','price']] = mm.fit_transform(df_copy[['squareMeters','numberOfRooms','price']])

In [9]:
df_copy['squareMeters'].min()

0.0

In [10]:
df_copy['squareMeters'].max()

1.0

Untuk mengetahui data yang sudah kita lakukan normalisasi kita dapat menggunakan DataFrame ['nama kolom yang sudah di normalisasi'].min() / max() . Dari output kode diatas kita dapat melihat bahwa nilai max bernilai 1 dan min bernilai 0, artinya penskalaan data dengan normalisasi sudah berhasil.

### 2. Standarisasi
Pada bagian ini kita menggunakan teknik penskalaan standarisasi sehingga memiliki nilai rata-rata 0 dan standar deviasi 1.

Pertama-tama kita import StandardScaler terlebih dahulu dari sklearn.preprocessing.

In [11]:
from sklearn.preprocessing import StandardScaler

Pada bagian ini kita deklarasikan StandardScaler () sebagai ss agar lebih mudah. Kemudian kita pilih kolom yang akan di lakukan standarisasi.

In [12]:
ss = StandardScaler()
df_copy2 = df.copy()
df_copy2[['squareMeters','numberOfRooms','price']] = ss.fit_transform(df_copy2[['squareMeters','numberOfRooms','price']])

In [13]:
df_copy2['price'].std()

1.0000500538078747

Untuk mengetahui data yang sudah kita lakukan standarisasi kita dapat menggunakan df['nama kolom yang sudah di standarisasi'].std() . Dari output kode diatas kita dapat melihat bahwa standar deviasi bernilai 1, artinya penskalaan data dengan standarisasi sudah berhasil.

## Data Cleaning  
Data Cleaning adalah proses mempersiapkan data untuk analisis dengan menghapus atau memodifikasi data yang tidak benar, tidak lengkap, tidak relevan, diduplikasi, atau diformat dengan tidak benar.
### 1. Data dengan nilai NULL
Pada bagian ini saya akan menangani nilai null dengan melakukan subsitusi nilai. Langkah pertama kita perlu mengimport SimpleImputer dari sklearn.impute terlebih dahulu. Dan mengecek nilai NULL pada data.

In [14]:
from sklearn.impute import SimpleImputer

In [15]:
# Mengecek Nilai NULL / yang kosong
df.isna().sum()

squareMeters         16
numberOfRooms         0
hasYard               0
hasPool               0
floors                0
cityCode              0
cityPartRange         0
numPrevOwners         0
made                  0
isNewBuilt            0
hasStormProtector     0
basement              0
attic                 0
garage                0
hasStorageRoom        0
hasGuestRoom          0
price                10
category             66
dtype: int64

### Pada bagian ini kita akan mensubsitusikan nilai NULL dengan median, mean, dan modus data. 
Pertama kita deklarasikan si_median dengan strategy median, kemudian deklarasikan df dengan kolom yang akan kita subsitusikan nilai NULL nya contoh 'squareMeters' dan nilai null diisi dengan median dari kolom 'squareMeters'. Pada bagian ini saya menggunakan astype("int64") karena tipe data awal 'squareMeters' adalah integer, karena ada data yang kosong / bernilai null jadi tipe data berubah ke float, sehingga kita harus mengembalikan dengan menggunakan astype.

In [16]:
si_median = SimpleImputer(strategy='median') 
df[['squareMeters']] = si_median.fit_transform(df[['squareMeters']]).astype("int64")

Deklarasikan si_mean dengan strategy mean, kemudian deklarasikan df dengan kolom yang akan kita subsitusikan nilai NULL nya contoh 'price' dan nilai null diisi dengan mean dari kolom 'price'.

In [17]:
si_mean = SimpleImputer(strategy='mean') 
df[['price']] = si_mean.fit_transform(df[['price']])

Deklarasikan si_modus dengan strategy most_frequent (paling sering muncul / modus), kemudian deklarasikan df dengan kolom yang akan kita subsitusikan nilai NULL nya contoh 'category' dan nilai null diisi dengan modus dari kolom 'category'.

In [18]:
si_modus = SimpleImputer(strategy='most_frequent')
df[['category']] = si_modus.fit_transform(df[['category']])

Setelah dilakukan subsitsi nilai, kita mengecek lagi apakah sudah tidak ada nilai NULL pada dataset.

In [19]:
df.isna().sum()

squareMeters         0
numberOfRooms        0
hasYard              0
hasPool              0
floors               0
cityCode             0
cityPartRange        0
numPrevOwners        0
made                 0
isNewBuilt           0
hasStormProtector    0
basement             0
attic                0
garage               0
hasStorageRoom       0
hasGuestRoom         0
price                0
category             0
dtype: int64

### 2. Data dengan nilai duplikat
Tahap pertama kita akan mengecek data yang duplikat dengan df.duplicated().sum() yang akan menghitung berapa banyak data yang duplikat.

In [20]:
df.duplicated().sum()

0

Untuk menghapus nilai duplikat kita dapat langsung menggunakan perintah drop_duplicates. Kita juga menggunakan perintah inplace=True yang artinya kita akan menimpa DataFrame yang sudah ada.

In [21]:
df.drop_duplicates(inplace=True)

## Ganti tipe data salah satu attribute angka
Untuk mengganti tipe data salah satu attribute angka kita dapat menggunakan perintah df['nama kolom'] = df['nama kolom'].astype('tipe data').

In [22]:
df.dtypes

squareMeters           int64
numberOfRooms          int64
hasYard                int64
hasPool                int64
floors                 int64
cityCode               int64
cityPartRange          int64
numPrevOwners          int64
made                   int64
isNewBuilt             int64
hasStormProtector      int64
basement               int64
attic                  int64
garage                 int64
hasStorageRoom         int64
hasGuestRoom           int64
price                float64
category              object
dtype: object

In [23]:
df["price"] = df["price"].astype("int64")

In [24]:
df.dtypes

squareMeters          int64
numberOfRooms         int64
hasYard               int64
hasPool               int64
floors                int64
cityCode              int64
cityPartRange         int64
numPrevOwners         int64
made                  int64
isNewBuilt            int64
hasStormProtector     int64
basement              int64
attic                 int64
garage                int64
hasStorageRoom        int64
hasGuestRoom          int64
price                 int64
category             object
dtype: object

Pada output diatas kita berhasil mengubah tipe data kolom "price" dari float64 ke int64

## Encoding  
### 1. Ordinal Encoding
Untuk melakukan ordinal encoding kita perlu mengimport OrdinalEncoder dari sklearn.preprocessing terlebih dahulu. Pada bagian ini kita akan mengubah nilai category menjadi bilangan bulat.

In [25]:
from sklearn.preprocessing import OrdinalEncoder

Pertama kita deklarasikan OrdinalEncoder() dengan oe. Kemudian kita deklarasikan df 'category' dengan value OrdinalEncoder dari df 'category'.

In [26]:
oe = OrdinalEncoder()
df[['category']] = oe.fit_transform(df[['category']])

In [27]:
df['category'].value_counts()

category
0.0    8764
1.0    1236
Name: count, dtype: int64

Dari output diatas kita dapat mengetahui bahwa kategori "Basic" berubah menjadi angka 0 dan kategori "Luxury" berubah menjadi angka 1.

### 2. One-Hot Encoding
Untuk melakukan One-Hot Encoding kita perlu mengimport OneHotEncoder dari sklearn.preprocessing terlebih dahulu. Pada bagian ini kita akan mengubah nilai 'hasPool' menjadi boolean (True, False).

In [28]:
from sklearn.preprocessing import OneHotEncoder

Pertama kita deklarasikan OneHotEncoder() dengan ohe. Kemudian kita deklarasikan oh_encoded dengan ohe.fit_transform 'hasPool'. 

Kita membuat DataFrame baru yang berisi OneHotEncoder dari 'hasPool' dengan kolom 'Tidak Ada Kolam' dan 'Ada Kolam'.

In [29]:
ohe = OneHotEncoder(sparse_output=False)
oh_encoded = ohe.fit_transform(df[['hasPool']]) 
encoded = pd.DataFrame(oh_encoded, columns=['Tidak Ada Kolam','Ada Kolam'])
encoded

      Tidak Ada Kolam  Ada Kolam
0                 0.0        1.0
1                 0.0        1.0
2                 0.0        1.0
3                 1.0        0.0
4                 0.0        1.0
...               ...        ...
9995              0.0        1.0
9996              0.0        1.0
9997              1.0        0.0
9998              1.0        0.0
9999              1.0        0.0

[10000 rows x 2 columns]

Pada bagian dibawah ini kita menggabungkan Data Frame df dan Data Frame encoded dengan menggunakan perintah pd.concat.

In [30]:
df = pd.concat([df, encoded], axis=1)
df.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category,Tidak Ada Kolam,Ada Kolam
0,50105,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081,0.0,0.0,1.0
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989,0.0,0.0,1.0
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642,0.0,0.0,1.0
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561,0.0,1.0,0.0
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052,0.0,0.0,1.0