# POSTTEST 2 Kecerdasan Buatan
### NIM : 2209106012
### NAMA : Aldi Solihin
### KELAS : A1 2022

### Import Paket Pandas dan Membaca Dataset
Agar bisa menggunakan paket pandas kita  perlu melakukan import paker terlebih dahulu, dan kita dapar mengimpor pandas sebagai pd agar lebih singkat.Setelah itu  kita deklarasikan DataFrame (df) dengan pd.read_csv untuk membaca file csv agar lebih mudah dan efisien.

In [ ]:
import pandas as pd
df = pd.read_csv("ParisHousingClass.csv")

### 1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka
Untuk menampilkan perhitungan statistik terebut kita hanya perlu menggunakan df.describe(), maka akan memunculkan informasi statistik dari data dengan atribut angka. Tampilan berbentuk tabel yang berisi mean(rata-rata), std(standar deviasi), min(nilai minimum), max(nilai maksimum), 25% yang berarti kuartil bawah (Q1), 50% berarti kuartil tengah (Q2), dan 75% berarti kuartil atas (Q3).

In [ ]:
df.describe()

### 2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka
Untuk menampilkan 10 record pertama dari dataset dengan attribute bertipe angka kita perlu memilih dahulu atribut bertipe angka dengan select_dtypes number untuk data dengan tipe angka, kemudian .head(10) untuk menampilkan 10 record pertama.

In [ ]:
df.select_dtypes(["number"]).head(10)

### 3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. 
#### Kita diminta memasukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya dan menampilkan isi dari dictionary tersebut sebagus mungkin.
Pertama-tama kita deklarasikan beberapa variabel yang nantinya akan dimasukkan ke dalam dictionary. Untuk mengetahui jumlah record kita dapat menggunakan len(df), dan jika ingin mengetahui banyak atribut gunakan  len(df.columns) yang akan menghitung panjang/banyak kolom. Kemudian untuk mengetahui nama semua atribut gunakan df.columns. Lalu untuk mengetahui jumlah atribut  dengan tipe angka gunakan len lalu select_dtypes["number"].columns untuk memilih atribut dengan tipe angka.

In [ ]:
jumlah_record = len(df)
jumlah_attribute = len(df.columns)
nama_attribute = list(df.columns)
attribute_angka = len(df.select_dtypes(["number"]).columns)

dict = {
    'Jumlah Record': jumlah_record,
    'Jumlah Attribute': jumlah_attribute,
    'Nama Attribute': nama_attribute,
    'Jumlah Attribute Tipe Angka': attribute_angka
}

print("======================================")
print("|          Informasi Dataset         |")
print("======================================")
for key, value in dict.items():
    if isinstance(value, int):
        print(f" {key} : {value} ")
    elif isinstance(value, list):
        i = 1
        print(f" {key} :")
        for item in value:
            print(f"  {i}. {item} ")
            i += 1
    print("--------------------------------------")

### 4. Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.
### NIM : 012 -> 12

Untuk metode slice pertama menggunakan loc. Yaitu df.loc[12:,"hasPool":] . 12: pada kode tersebut artinya akan menampilkan baris ke 12 sampai baris terakhir dan "hasPool": yang merupakan kolom ke-4 akan menampilkan sampai kolom terakhir. Tanda titik dua (:) setelah angka dan nama kolom artinya akan menampilkan semua baris/kolom setelahnya.

In [ ]:
df.loc[12:,"hasPool":]

Untuk metode slice kedua menggunakan iloc. Yaitu df.iloc[12:,3:] . 12: pada kode tersebut artinya akan menampilkan baris ke 12 sampai baris terakhir dan 3: yang merupakan kolom ke-4 (index ke-3) akan menampilkan sampai kolom terakhir. Tanda titik dua (:) setelah angka artinya akan menampilkan semua baris/kolom setelahnya.

In [ ]:
df.iloc[12:,3:]

### 5. Tampilkan jumlah nilai dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama).
Pertama kita harus memilih semua atribut dengan tipe object terlebih dahulu, yaitu dengan menggunakan select_dtypes["object"] kemudian diikuti dengan .value_counts() untuk mengetahui jumlah nilainya. Pada output kita dapat mengetahui  jumlah kategori "Basic" adalah 8735 dan kategori "Luxury" adalah 1265.

In [ ]:
df.select_dtypes(["object"]).value_counts()